.contact-section {
  color: #4ee1a0;
  background-color: #242424;
  padding-left: var(--horizontal-padding-desktop);
padding-right:var(--horizontal-padding-desktop);
}

.contact-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  padding-bottom: 90px;
  padding-top: 84px;
}

.contact-section .contact-info {
  flex-basis: calc(50% - 40px);
  margin-right: 129px;
}

.contact-section .contact-info h2 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 88px;
  line-height: 97px;
  letter-spacing: -2.5px;
}

.contact-section .contact-info p {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  color: #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.contact-section .contact-form {
  flex: 1;
}

.contact-section .contact-form .input-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.contact-section .contact-form .input-section input,
.contact-section .contact-form .input-section textarea {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 32px 12px 8px;
  border-radius: 4px;
  transition: border-color 0.3s;
  color: #999;
}

.contact-section .contact-form .input-section input:focus,
.contact-section .contact-form .input-section textarea:focus {
  border-color: #007bff;
}

.contact-section .contact-form .input-section input::placeholder,
.contact-section .contact-form .input-section textarea::placeholder {
  color: #999;
  text-transform: uppercase;
}

.contact-section .contact-form .input-section textarea {
  min-height:135px;
}

.contact-section .contact-form .button-container {
  display: flex;
  justify-content: flex-end;
}

.contact-section .contact-form .button-container .contact-button {
  border: none;
  background-color: transparent;
  margin-top: 32px;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  .contact-section {
    padding-left: var(--horizontal-padding-tablet);
padding-right:var(--horizontal-padding-tablet);
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .contact-section {
    padding-left: var(--horizontal-padding-mobile);
padding-right:var(--horizontal-padding-mobile);
  }
  .contact-section .inner-wrapper {
    flex-direction: column !important;
  }
}
