@import url("../../../styles/variables.css");

/* reminder of them:
$primary-color: #151515;
$highlight-color: #4ee1a0;
$base-spacing: 16px;
$light-color-2: #ffffff;
*/

.header {
  padding-left: var(--horizontal-padding-desktop);
  padding-right: var(--horizontal-padding-desktop);
  max-width: var(--max-inner-width);
  margin-left: auto;
  margin-right: auto;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 39px;
}

.header-wrapper .name {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

/* social icons */
.header-wrapper .social-icons {
  display: flex;
  min-width: 43px;
  gap: 20px;
}

.header-wrapper .social-icons i {
  color: #ffffff;
  height: 23px;
  width: 23px;
}

.header-wrapper .social-icons i:hover {
  color: #4ee1a0;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  .header {
    padding-left: var(--horizontal-padding-tablet);
    padding-right: var(--horizontal-padding-tablet);
  }

  .header-wrapper .name {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
    letter-spacing: -0.44px;
  }

  .header-wrapper .social-icons {
    align-items: center;
    margin-top: 20px;
  }

  .header-wrapper .social-icons i {
    height: 25px;
    width: 25px;
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .header {
    padding-left: var(--horizontal-padding-mobile);
    padding-right: var(--horizontal-padding-mobile);
  }
}
