/* Variable definitions */
:root {
  --primary-color: #151515;
  --highlight-color: #4ee1a0;
  --base-spacing: 16px;
  --light-color-1:  #D9D9D9;
  --light-color-2: #ffffff;
  --font-family: "Space Grotesk";
  --horizontal-spacing:20px;
}

/* Mixin definitions */
@mixin font-family($family: var(--font-family)) {
  font-family: $family, sans-serif;
}

@mixin common-font-styles() {
  font-style: normal;
}

@mixin apply-font-heading-m($size: 24px, $lineHeight: 32px) {
  @include font-family;
  @include common-font-styles;
  font-weight: 700;
  color: var(--light-color-2);
  font-size: $size;
  line-height: $lineHeight;
}

@mixin apply-font-heading-xl($size: 88px, $lineHeight: 97px, $letterSpacing: -2.5px) {
  @include font-family;
  @include common-font-styles;
  color: var(--light-color-2);
  font-weight: 700;
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin apply-font-body {
  @include font-family;
  @include common-font-styles;
  color: var(--light-color-1);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
