@import "../../styles/variables";
// /*reminder of them:
// $primary-color: #151515;
// $highlight-color: #4ee1a0;
// $base-spacing: 16px;
// $light-color-2: #ffffff;
// */

.project-section {
    .project-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .project-header h2 {
        @include apply-font-heading-xl
    }
  
    .projects-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px; 
  
      .project {
        flex-basis: calc(50% - 20px); 
        display: flex;
        flex-direction: column;
  
        .project-image {
          width: 100%; 
          height: auto; 
        }
  
        h3, p {
         
        }
      }
    }
  }
  