@import url("../../../styles/variables.css");

/* reminder of them:
$primary-color: #151515;
$highlight-color: #4ee1a0;
$base-spacing: 16px;
$light-color-2: #ffffff;
*/

.footer {
  background-color: #242424;
  padding-left: var(--horizontal-padding-desktop);
  padding-right: var(--horizontal-padding-desktop);
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 39px;
}

.footer-wrapper .name {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
  }
}

/* social icons */
.footer-wrapper .social-icons {
  display: flex;
  min-width: 43px;
  gap: 20px;

  @media (max-width: 768px) {
    align-items: center;
    margin-top: 20px;
  }
}

.footer-wrapper .social-icons i {
  color: #ffffff;
  height: 23px;
  width: 23px;

  @media (max-width: 768px) {
    height: 20px;
    width: 20px;
  }
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  .footer {
    padding-left: var(--horizontal-padding-tablet);
    padding-right: var(--horizontal-padding-tablet);
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .footer {
    padding-left: var(--horizontal-padding-mobile);
    padding-right: var(--horizontal-padding-mobile);
  }
}
