/* Import variables */
/* Reminder of them:
$primary-color: #151515;
$highlight-color: #4ee1a0;
$base-spacing: 16px;
$light-color-2: #ffffff;
*/

.intro-section {
  padding-left: var(--horizontal-padding-desktop);
  padding-right: var(--horizontal-padding-desktop);
  display: flex;
  flex-direction: row;
  padding-top: 88px;
  border-bottom: 1px solid white;
  padding-bottom: 90px;
  max-width: var(--max-inner-width);
  margin-left: auto;
  margin-right: auto;
}

.intro-section .text-content {
  flex:1;
}

.intro-section .profile-img {
  flex-basis: 50%;
  /* position: absolute;
  left: 525px;
  top: 12px;
  overflow: hidden;
  display: inline-block; */
}

.intro-section .profile-img img {
  /* height: 600px !important; */
  /* width: auto; */
}

.intro-section .header-text {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 88px;
  line-height: 97px;
  letter-spacing: -2.5px;
  padding-bottom: 43px;
}

.intro-section .sub-heading {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  color: #d9d9d9;
  font-size: 18px;
  max-width: 445px;
  padding-bottom: 66px;
}

.contact-button {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: #4ee1a0;
  text-underline-offset: 10px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  text-transform: uppercase;
}

.contact-button:hover {
  color: #4ee1a0;
  transition: all 0.3s;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #4ee1a0;
  text-underline-offset: 10px;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .intro-section {
    padding-top: 50px !important;
    padding-left: var(--horizontal-padding-tablet);
    padding-right: var(--horizontal-padding-tablet);
  }

  .intro-section .profile-img {
    overflow: visible;
  }

  .intro-section .profile-img img {
    max-height:400px!important;

  }

  .intro-section .header-text{
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
  }
  
  .intro-section .sub-heading {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .intro-section {
    flex-direction: column-reverse;
    padding-top: unset;
    padding-left: var(--horizontal-padding-mobile);
    padding-right: var(--horizontal-padding-mobile);
  }

  .intro-section .profile-img {
    position: unset;
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  .intro-section .profile-img img {
    height: 242px !important;
    max-width: 100% !important;
  }
  .intro-section .header-text {
    font-size: 40px !important;
    line-height: 50px;
    padding-bottom:20px;
  }

  .intro-section .text-content {
    text-align: center;
  }
  .intro-section .sub-heading {
    font-size: 16px;
    max-width: unset;
    font-weight: 500px;
    line-height: 26px;
    padding-bottom:24px;
  }
}
