@import "../../styles/variables";
// /*reminder of them:
// $primary-color: #151515;
// $highlight-color: #4ee1a0;
// $base-spacing: 16px;
// $light-color-2: #ffffff;
// */

.contact-section {
  display: flex;
  color: green;

  .contact-info {
    width: 448px;
    margin-right: 197px;

    h2 {
      @include apply-font-heading-xl;
    }
    p {
      @include apply-font-body;
    }
  }

  .contact-form {
    flex: 1;

    .input-section {
      display: flex;
      padding-bottom: 10px;
      border-bottom: 1px solid white;
      padding-top: 32px;

      label {
        flex-basis: 108px;
        color: grey;
        text-transform: uppercase;
      }

      input,
      textarea {
        flex: 1;
        background-color: transparent;
        border: none;
      }

      textarea {
        height: 71px;
      }
    }

    .button-container {
      display: flex;
      justify-content: end;

      .contact-button {
        border: none;
        background-color: transparent;
        margin-top:32px;
      }
    }
  }
}
