/* Import variables */
@import "../../../styles/variables.scss";

.image-container {
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;

    img {
        width:calc(50% - 20px);
    }

}


/*Tablet styles*/
@media screen and (max-width:1024px) {
  
}

/*Mobile styles*/

@media screen and (max-width:768px) {
    .image-container img {
        width:100%!important;
    }
}
