@import "../../styles/variables";
// /*reminder of them:
// $primary-color: #151515;
// $highlight-color: #4ee1a0;
// $base-spacing: 16px;
// $light-color-2: #ffffff;
// */

.intro-section {
  display: flex;
  flex-direction: row;
  padding-top:88px;
  border-bottom: 1px solid white;
  padding-bottom:90px;
}

.header-text {
  @include apply-font-heading-xl;
  padding-bottom:43px;

}

.sub-heading {
  @include apply-font-body;
  max-width: 445px;
  padding-bottom:66px;
}

.contact-button {
  @include apply-font-body;
  text-decoration:underline;
  text-decoration-color:#4EE1A0;
  text-underline-offset: 10px;
  font-size: 16px;
  color:white;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  text-transform: uppercase;

}

.contact-button:hover {
  color:green;
  transition: all 0.3s;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #4EE1A0;
  text-underline-offset: 10px;
}
